.git/
**/node_modules/
**/.expo/
**/dist/
**/dist-native/
**/dist-native-ios/
**/dist-preview/
**/.build-status.json
**/.expo-public-config.json
**/.firebase/
**/android/
**/ios/
**/*debug.log
.private/
**/credentials.json
**/*.jks
**/*.keystore
**/audit-runtime.json
/docs/
